.dropzone {
  align-self: center;
  border: rem(2) dashed $secondary-color;
  border-radius: rem(20);
  display: block;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: center;
  padding: rem(65) rem(35);
}
