.image-upload {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__icon {
    margin-bottom: rem(25);
    max-width: rem(114);
  }

  &__heading {
    margin-bottom: 0;
  }

  &__divider {
    font-weight: $wbook;
    font-size: rem(14);
    margin: rem(25) 0;
  }

  &__button {
    @extend .button;
  }
}
