/**
*   Global classes
**/

.hidden {
  display: none;
}

/**
*   General page styles
**/

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    color: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  height: 100%;
}

section{
  text-align: center;
}
