@import "../helpers/variables";
@import "../helpers/mixins";

.section--drop_area {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: center;
  align-self: center;
}
