.section--success {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: center;
  align-self: center;

  &__actions {
    margin: 1rem 0 2rem 0;
  }
  img {
    max-width: 50%;
  }
}


