//  1. Colors
$primary-color: #0f62f4;
$secondary-color: #fafafa;
// $primary-color: #fafafa;
// $secondary-color: #0f62f4;

// 2. General settings
$rem-base: 16;

// 3. Font-weights
$wbook: 300;
$wnormal: 400;
$wmedium: 500;
$wbold: 700;

$header-height: 101;
$header-height-small: 65;
