<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#0f62f4">

    <title><%- title %></title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
</head>
<body class="page-<%= pageName %>">
<% include ../header %>
<%- body %>
<%- defineContent('block__scripts') %>
<script src="/js/client.min.js"></script>
</body>
</html>
