<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%- title %></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="preload" as="style">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="page-<%= pageName %>">
<% include ../header %>
<main>
    <%- body %>
</main>
<%- defineContent('block__scripts') %>
<script src="/js/client.js"></script>
</body>
</html>
